@page "/gas-bill"

<div class="bill-container">
    <div class="bill-title">🔥 پرداخت قبض گاز</div>
    <input class="bill-input" type="text" placeholder="شناسه قبض">
    <input class="bill-input" type="text" placeholder="مبلغ (ریال)">
    <button class="bill-btn">پرداخت</button>
</div>
