@page "/phone-bill"

<div class="bill-container">
    <div class="bill-title">💳 پرداخت قبض تلفن</div>
    <input class="bill-input" type="text" placeholder="شماره تلفن">
    <input class="bill-input" type="text" placeholder="مبلغ (ریال)">
    <button class="bill-btn">پرداخت</button>
</div>
