@page "/PureAndPartailComponent"
<h3>PureAndPartailComponent</h3>
@*
    ما میتوانیم اگه دوست داشته باشیم کدهای
    سی شارپ کامپوننت خودمون جدا کنیم
    و در یک 
    partil class 
    در یک صفحه دیگه بنویسیم
    که یک فایل با فرمت
    PureAndPartailComponent.razor.cs
    درست می کنیم
    -------------------------------------
    pure component =>
    گاهی وقتا ما کامپوننت هایی تولید می کنیم که فقط کد سی شارپ دارد
    و میخواهیم جنس آن کامپوننت باشد
    به این مدل کامپوننت ها
     pure component میگن
*@

<p>@number</p>
<button class="btn btn-sm" @onclick=AddNumber>AddNumber</button>

<TraningBlazorProject.Client.Pages._3._27_PureAndPartailComponent.PureComponent></TraningBlazorProject.Client.Pages._3._27_PureAndPartailComponent.PureComponent>