<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">TraningBlazorProject</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="GridPro">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> GridPro
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="RetainElement">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Retain Element
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Splatting">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Splatting
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ParentComponent">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> ParentComponent
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="RenderingComponent">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> RenderingComponent
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="CascadingParameter">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> CascadingParameter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="CustomDynamicComponent">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> DynamicComponent
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="events">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Events
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="virtualized">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Virtualized
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="FormComponent">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> FormComponent
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="MenuComponent">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> MenuComponent
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="MenuComponent">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> MenuComponent
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="routing">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Routing
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="HttpClientListTodos">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> HttpClientListTodos
            </NavLink>
        </div>

         <div class="nav-item px-3">
            <NavLink class="nav-link" href="PatchApiListTodos">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> PatchApiListTodos
            </NavLink>
        </div>

         <div class="nav-item px-3">
            <NavLink class="nav-link" href="JsonHelperListTodos">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> JsonHelperListTodos
            </NavLink>
        </div> 
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="NamedHttpClientPatternListTodos">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> NamedHttpClientPatternListTodos
            </NavLink>
        </div>
    </nav>
</div>

