@page "/GridPro"

<h3>Product</h3>
<GridPro TItem="Product" Data="products">
    <Header>
    <th scope="col">نام</th>
    <th scope="col">دسته بندی</th>
    <th scope="col">قیمت</th>
    </Header>
    <Row Context="rowItem">
        <td>@rowItem.Name</td>
        <td>@rowItem.CateGory</td>
        <td>@rowItem.Price.ToString("N0") تومان</td>
    </Row>
    <Footer>
    <td>1</td>
    <td>2</td>
    <td>3</td>
    </Footer>
</GridPro>
@code {
    private readonly List<Product> products = new()
    {
        new(){Name = "لپ تاب", CateGory ="الکتریکی", Price = 56000000},
        new(){Name = "موبایل", CateGory ="الکتریکی", Price = 18000000},
        new(){Name = "ساعت", CateGory ="اکسسوری", Price = 9000000},
        new(){Name = "هارد", CateGory ="ذخیره سازی", Price = 6000000},
        new(){Name = "فنجان", CateGory ="اشیا", Price = 500000}
    };

    public class Product
    {
        public string Name { get; set; } = default!;
        public string CateGory { get; set; } = default!;
        public int Price { get; set; }
    }
}
