@namespace TraningBlazorProject.Client.Pages
@typeparam T where T : class
<div class="card">
    <div class="card-header">
        @Header
    </div>
    <div class="card-body">
        @ChildContent
    </div>
</div>
@code {

    [Parameter]
    public T Header { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}
